.footer {
  background-color: $bg-color-secondary;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.9rem;

  a {
    color: $text-color-main;
    text-decoration: underline;
    font-weight: bold;
  }
}
