.skills {
  background-color: $bg-color-main;
  position: relative;
  height: 21rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &_icon {
    position: absolute;
    top: 3rem;
    height: 16.5rem;
  }

  &_container {
    position: absolute;
    z-index: 2;
    margin-top: 1rem;
  }

  &_box {
    display: flex;
    gap: 1rem;
    &_item {
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_text {
        font-size: 0.5rem;
      }
    }
  }
}
