$main-font: "Poppins", sans-serif;
$banner-font: "Source Code Pro", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

.container {
  margin: 0 15px;

  @include tablet {
    margin: 0 30px;
  }

  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.title {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @include mobile {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  @include tablet {
    font-size: 2.5em;
    margin-bottom: 1.4rem;
  }
  @include desktop {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.text {
  font-size: 0.7rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;

  @include mobile {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  @include tablet {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  @include desktop {
    font-size: 1.3rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }
}
