$bg-color-main: #efced9;
$bg-color-secondary: #d8b2e1;
$bg-color-projects: #eeeef0;

$text-color-main: #000000;
$text-color-secondary: #ffffff;
$text-color-button: #ffffff;

$button-color-main: #f3a6ad;
$button-color-secondary: #98b8f1;
$button-color-projects: #d8b2e1;
$button_color_hover: #ff7783;
