.header {
  background-color: $bg-color-main;
  position: fixed;
  z-index: 1;
  width: 100%;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_icon {
    width: 50%;
    position: relative;
    top: -13px;
    left: -30px;
  }

  &_navbar {
    padding: 0.625rem 0;
    position: relative;
  }
}
