.burger {
  width: 4rem;
  height: 4rem;
  padding: 1.125rem 1rem;
  background-color: $button-color-main;
  border-radius: 50%;
  cursor: pointer;

  span {
    display: block;
    height: 0.25rem;
    width: 2rem;
    background-color: white;
    margin-bottom: 0.5rem;
    border-radius: 18%;
    transition: 0.3s all ease-in-out;
  }
}

.isActive {
  span {
    &:nth-child(1) {
      transform: rotate(45deg) translate(6.5px, 8px);
      border-radius: 25%;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translate(8.5px, -10px);
      border-radius: 25%;
    }
  }
}

.navlist {
  &_desktop {
    display: none;
  }

  &_mobile {
    display: none;

    &_active {
      display: block;
    }
  }
}
