.contact {
  background-color: $bg-color-main;
  position: relative;
  padding: 3rem 0;

  &_icon {
    position: absolute;
    display: none;
    // width: 3rem;
    // top: 3.5rem;
    // right: 1rem;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &_text {
    margin-bottom: 0;
  }

  &_content {
    width: 100%;

    &_boxes {
      &_item {
        border: 0.1rem solid $text-color-main;
        margin: 2rem;
        padding: 1rem;
        max-width: 20rem;

        &_icon {
          width: 2.5rem;
          margin-bottom: 0.5rem;
        }

        &_title {
          margin-bottom: 0.2rem;
          font-weight: bold;
          font-size: 0.9rem;
        }

        &_text {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
