.form {
  border: 0.1rem solid $text-color-main;
  padding: 2rem 1rem;

  &_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    &_input,
    &_textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: transparent;
      border: 0.01rem solid $text-color-main;
      outline: none;

      &:focus {
        border-width: 0.1rem;
      }
    }

    &_textarea {
      height: 8rem;
      resize: none;
    }
  }
  &_btn {
    width: 9rem;
  }
}
