.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
}
.icon-style {
  background-color: $bg-color-main;
  border: 0.125rem solid #fff;
  border-radius: 50%;
  height: 2.1rem;
  width: 2.1rem;
  color: #fff;
  cursor: pointer;

  @include tablet {
    height: 3.1rem;
    width: 3.1rem;
  }
}

.icon-style:hover {
  animation: none;
  background: #fff;
  color: $bg-color-main;
  border: 0.125rem solid $bg-color-main;
}
