.burger {
  width: 3rem;
  height: 3rem;
  padding: 0.8rem 0.75rem;
  background-color: $button-color-main;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;

  &_bars {
    position: absolute;
    z-index: 1;

    span {
      display: block;
      border-radius: 18%;
      transition: 0.5s all ease-in-out;
      height: 0.2rem;
      width: 1.5rem;
      background-color: white;

      &:before,
      &:after {
        content: "";
        display: block;
        border-radius: 18%;
        transition: 0.5s all ease-in-out;
        height: 0.2rem;
        width: 1.5rem;
        background-color: white;
        position: absolute;
        top: -7px;
        transition-property: top, transform;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      &:after {
        top: 7px;
      }
    }
  }
}

.isActive {
  span {
    background-color: transparent;
    &:after,
    &:before {
      top: 0;
      transform: rotate(-45deg);
      border-radius: 23%;
      transition-delay: 0s, 0.3s;
      height: 0.3rem;
    }

    &:before {
      transform: rotate(45deg);
    }
  }
}

.navlist {
  width: 0;
  height: 0;
  position: fixed;
  background-color: $button-color-main;
  top: 0;
  right: 0;
  color: white;
  border-bottom-left-radius: 300px;
  transition: width 0.3s, height 0.3s;

  ul {
    opacity: 0;
    width: 100%;
    font-size: 1.5rem;
  }

  &_active {
    width: 18.75rem;
    height: 18.75rem;

    ul {
      opacity: 1;
      transition: opacity 0.3s 0.3s;
      font-weight: 500;
      line-height: 35px;
      letter-spacing: 0px;
      padding-top: 70px;
      padding-left: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      li:hover {
        text-decoration: wavy underline;
      }
    }
  }
}
