.btn {
  width: 10rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: $button-color-main;
  color: $text-color-secondary;
  font-size: 1rem;
  margin-top: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 1s ease;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  &:hover {
    background-color: $button-color-secondary;
  }

  @include mobile {
    width: 12rem;
    padding: 1rem;
    margin-top: 1.4rem;
    font-size: 1.2rem;
  }

  @include tablet {
    width: 14rem;
    padding: 1.3rem;
    font-size: 1.4rem;
    margin-top: 2.2rem;
  }

  @include desktop {
    width: 16rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }
}
