.buttonProjects {
  max-width: 11rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: $button-color-main;
  color: $text-color-secondary;
  font-size: 0.8rem;
  margin-top: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  &:hover {
    background-color: $button-color-secondary;
    transform: scale(1.2);
  }

  @include mobile {
    width: 11rem;
    padding: 1rem;
    margin-top: 1.4rem;
    font-size: 1rem;
  }

  @include tablet {
    min-width: 8rem;
    max-width: 15rem;
    font-size: 0.8rem;
    margin-top: 2.2rem;
  }

  @include desktop {
    width: 14rem;
    padding: 1.4rem;
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
}
