.banner {
  background-color: $bg-color-main;
  width: 100%;
  height: 21rem;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include mobile {
    height: 30rem;
  }

  @include tablet {
    height: 40rem;
  }

  @include desktop {
    height: 45rem;
  }

  &_img {
    position: absolute;
    height: 50rem;
    top: -211px;

    @include mobile {
      height: 75rem;
      top: -340px;
    }

    @include tablet {
      height: 100rem;
      top: -455px;
    }

    @include desktop {
      height: 120rem;
      top: -593px;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    justify-content: center;
    padding-top: 6rem;
    isolation: isolate;

    @include mobile {
      width: 22rem;
      padding-top: 7rem;
    }

    @include tablet {
      width: 30rem;
      padding-top: 9rem;
    }

    @include desktop {
      width: 37rem;
    }
  }

  &_title,
  &_hi {
    font-family: $banner-font;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.03rem;

    @include mobile {
      font-size: 2.2rem;
    }

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 3.8rem;
    }
  }

  &_hi {
    margin-bottom: 0.4rem;
    animation: typing 0.8s steps(10, end);
  }

  &_title {
    opacity: 0;
    animation: typing2 2s steps(40, end), blink 0.5s step-end infinite alternate;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    text-align: center;
  }

  &_text {
    font-size: 1rem;
    opacity: 0;
    animation: showAndZoom 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    margin-top: 0.6rem;

    @include mobile {
      font-size: 1.4rem;
      margin-top: 1rem;
    }

    @include tablet {
      font-size: 1.9rem;
      margin-top: 1.5rem;
    }

    @include desktop {
      font-size: 2.2rem;
    }
  }

  &_btn {
    opacity: 0;
    animation: showAndDropdown 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
}

@keyframes typing {
  0% {
    width: 0;
    border-right: 0.1rem solid black;
  }
  99.9% {
    border-right: 0.1rem solid black;
  }
  100% {
    width: 100%;
    border: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    border-right: 0.1rem solid black;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
    border-right: 0.1rem solid black;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes showAndZoom {
  1% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showAndDropdown {
  0% {
    transform: translateY(1000px);
    opacity: 1;
  }

  50% {
    transform: translateY(-100px);
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
